<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.LuckMoneyHistoryMapper">
  <resultMap id="BaseResultMap" type="com.applet.model.LuckMoneyHistory">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="alipay_account" jdbcType="VARCHAR" property="alipayAccount" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="lucky_money" jdbcType="DOUBLE" property="luckyMoney" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="out_biz_no" jdbcType="VARCHAR" property="outBizNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, add_time, alipay_account, description, lucky_money, real_name, state, type, user_id, 
    mode, create_by, create_date, update_by, update_date, remarks, del_flag, out_biz_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_lucky_money_history
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_lucky_money_history
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.applet.model.LuckMoneyHistory">
    insert into t_lucky_money_history (id, add_time, alipay_account, 
      description, lucky_money, real_name, 
      state, type, user_id, 
      mode, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag, out_biz_no)
    values (#{id,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{alipayAccount,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{luckyMoney,jdbcType=DOUBLE}, #{realName,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, 
      #{mode,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{outBizNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.applet.model.LuckMoneyHistory">
    insert into t_lucky_money_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="alipayAccount != null">
        alipay_account,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="luckyMoney != null">
        lucky_money,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="outBizNo != null">
        out_biz_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alipayAccount != null">
        #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="luckyMoney != null">
        #{luckyMoney,jdbcType=DOUBLE},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="outBizNo != null">
        #{outBizNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.applet.model.LuckMoneyHistory">
    update t_lucky_money_history
    <set>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alipayAccount != null">
        alipay_account = #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="luckyMoney != null">
        lucky_money = #{luckyMoney,jdbcType=DOUBLE},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="outBizNo != null">
        out_biz_no = #{outBizNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.applet.model.LuckMoneyHistory">
    update t_lucky_money_history
    set add_time = #{addTime,jdbcType=TIMESTAMP},
      alipay_account = #{alipayAccount,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      lucky_money = #{luckyMoney,jdbcType=DOUBLE},
      real_name = #{realName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      mode = #{mode,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      out_biz_no = #{outBizNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getTodayLuckyMoneyHistoryInfos" resultMap="BaseResultMap">
    SELECT *  FROM t_lucky_money_history WHERE add_time >= #{addTime} AND user_id = #{userId}
  </select>
</mapper>